@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #111827; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
}

* {
  box-sizing: border-box;
}

#root {
  /* background-color: #111827; */
  color: #d1d5db;
  user-select: none;
}

.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

.light {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}
